body {
  width: 100%;
  height: 100vh; //距离视窗的高度
  position: relative;
  //background-color: #FFFFFF;


  #app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; //垂直居中
  }

  .background {
    height: 100%;

    img.left {
      position: absolute;
      width: 400px;
      bottom: 20px;
      left: 20px;
    }

    img.right {
      position: absolute;
      width: 400px;
      bottom: 20px;
      right: 20px;
    }
  }

  main {
    width: 450px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column; //竖向排列

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); //位移为0，发散程度为10px，透明度为0.2
    .top {
      padding: 20px;

      p {
        color: #ff9800;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .title {
        text-align: center; //文本居中
        a {
          color: #808595;
        }

        a.active {
          color: #ff9800;
        }
      }

      .login_forms {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column; //按列排布

        input {
          margin-bottom: 20px;
          border: none; //边框
          outline: none; //轮廓线
          height: 40px;
          border-radius: 5px;
          border: 1px solid #f0eeee;
          padding-left: 20px;
          transition: all 0.3s; //时间过渡

          &:focus { //伪类选择器触发焦点
            border: 1px solid #ff9800;
          }
        }

        //验证码图片
        .code {
          display: flex;
          justify-content: space-between;
          width: 100%;

          input {
            width: 60%;
          }

          img {
            width: 30%;
            height: 40px;
            border-radius: 5px;
            cursor: pointer; //手势按钮
          }
        }

        > button {
          border: none;
          height: 40px;
          color: white;
          border-radius: 5px;
          background-color: #ff9800;

          cursor: pointer; //手势按钮
        }
      }
    }

  }
}